accelerate
bcrypt
elasticsearch-haystack
elasticsearch>=8.0.0,<9.0.0
fastapi
haystack-ai>=2.0,<3.0
kernels
nltk>=3.9.0
pydantic
pydantic-settings
python-jose[cryptography]
python-multipart
sentence-transformers
sqlalchemy
transformers
uvicorn
